# {{ ansible_managed }} {{ date }}
iface {{ ansible_default_ipv4['interface'] }} inet static
	address {{ ansible_default_ipv4['address'] }}
    gateway {{ ansible_default_ipv4['gateway'] }}
    netmask {{ ansible_default_ipv4['netmask'] }}
    broadcast {{ ansible_default_ipv4['broadcast'] }}
